/* -------------------------------------------------------------------------- */

@font-face {
    font-family: headingsFont;
    src: url('graphics/headingsFont.ttf');
}

@font-face {
    font-family: bodyFont;
    src: url('graphics/bodyFont.ttf');
}

html, body {
  padding:0;
  margin:0;
  height: 100%;
  width: 100%;
}

/* -------------------------------------------------------------------------- */

/* BODY */
body {
    background-color: #ececec;
    font-family: "bodyFont", "Segoe UI Light", "Helvetica", "Arial", sans-serif;
}

h1 {
	font-family: "headingsFont", "Segoe UI Light", "Helvetica", "Arial", sans-serif;
	text-align: center;
  font-size: 75px;
  color: white;
}

/* -------------------------------------------------------------------------- */

/* HEADER */
#header {
    background-color: #383838;
  	position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 2;
}

/* HEADER LOGO */
#logo {
	margin-top: 5px;
	margin-left: 5px;
	height: 42px;
	width: 200px;
}

/* NAVBAR */
#navbar {
	float: right;
}

#navbar ul {
	list-style-type: none;
    overflow: hidden;

}

#navbar li {
	display: inline-block;
  padding: 0 10px;
  background-color: #383838;
}

#navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
}

#navbar a:hover {
    color: #6ee06e;
}

/* -------------------------------------------------------------------------- */

/* FOOTER */
#footer {
	position: fixed;
	background-color: #383838;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4%;
    color: white;
    text-align: center;
}

/* -------------------------------------------------------------------------- */

/*BUTTONS!!!! i.e. in search page*/
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

/* -------------------------------------------------------------------------- */

/*Start: Search Page*/

.searchTitle {
  font-size: 36px;
}

#searchForm {
  font-size: 20px;
  width:  100%;
}
/*End: Search Page*/

/* -------------------------------------------------------------------------- */

/*Start: Results Page
Display table in center of page*/

#resultsTitle {
  margin-left: 2.5%
}

#resultsDiv {
  font-size: 18px;
  margin-left: 5%;
}

#resultsList {
    list-style-type: none;
}

#resultsList a {
    text-decoration: none;
    color: black;
}

#resultsList a:visited {
  text-decoration: none;
    color: black;
}

#resultsList a:hover {
    color: #bfbfbf;
}

.resultItem {

}

/* -------------------------------------------------------------------------- */

/*Start: Displays all images as the same size even if they are originally diff sizes*/
.cell{
  width: 300px;
  height: 200px;
  overflow: hidden;
}
.cell img{
  height: 225px;
  width: auto;
}

/*End*/

/* -------------------------------------------------------------------------- */

#itemBanner {
  background-size: 100%;
  width:100%;
  overflow: hidden;
  min-height: 300px;
  float: left;
  padding-left: 0;
  margin-left: 0;
  margin-top: 0;

}

/* -------------------------------------------------------------------------- */

/* INDEX BG */
/*NEED TO FIX BACKGROUND TO SHOW UNDER NAVBAR*/
#indexBg {
	width: 100%;
	height: 80%;
	position: absolute;
	z-index: 0;
	left: 0;
}

/*HOME PAGE*/
#homePage {
    background-image: url('graphics/bg2.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

#homePageContent {
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 1000%;
	left: 0;
}

#searchInput {
    width: 50%;
    color: #6ee06e;
    padding: 10px 50px;
    border-radius: 6px;
    border-style: none;
    font-size: 30px;
    background-image: url('graphics/searchIcon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    margin-left: auto;
}

#searchInput:focus {
	background-image: url('graphics/searchIconG.png');
	outline: none;
}

#searchButton {
	width: 10%;
	background-color: #6ee06e;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin-left: auto;
    cursor: pointer;
    font-size: 20px;
}

#searchButton:hover {
	background-color: #85f185;
	font-size: 22px;
}

#searchButton:focus {
	outline: none;
}

/* -------------------------------------------------------------------------- */

/* REGISTER PAGE */
.registerHeading {
  font-size: 36px;
}

.registerInput {
    color: #6ee06e;
    padding: 5px 10px;
    border-radius: 6px;
    border-style: none;
    font-size: 20px;
    min-width: 30%;
}

.registerInput:focus {
	outline: none;
}

.submitButton {
	background-color: #6ee06e;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  display: block;
  margin: auto;
  min-width: 20%;
}

#submitButton:hover {
	background-color: #85f185;
	font-size: 20px;
}

#submitButton:focus {
	outline: none;
}

#formContainer {
  max-width: 1000px;
  min-height: min-content;
  margin: 0 auto;
  margin-top: 50px;

  position:relative;
  background: #ececec;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 70px #8A759D;
  text-align: center;
  padding: 30px 20px;
  box-sizing: border-box;

}

.registerContent {

}

#itemPageBanner {
	position: absolute;
	z-index: 0;
    left: 0;
}

/* -------------------------------------------------------------------------- */
